.Item {
    color: black;
    padding: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.Item:hover {
    background-color: #f1f1f1;
}

.notifyContent {
    margin-left: 10px;
}

.notifyFriend {
    display: block;
    margin: 0 auto;
}

.notifyTime {
    font-size: 13px;
    color: rgb(165, 164, 164);
    font-weight: 300;
}

.readMark {
    position: absolute;
    right: 7px;
    width: 10px;
    height: 10px;
    background-color: rgb(20, 122, 240);
    border-radius: 50%;
}

.notifyAction {
    margin: 7px 5px;
}

.btn {
    border: 1px solid rgba(192,192,192,0.5);
    border-radius: 5px; 
    padding: 7px 14px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(95%);
}

.btnCancel {
    margin-right: 10px;
}

.btnAccept {
    background-color: rgb(63, 81, 181);
    color: white;
}