.login {
    width: 100vw;
    height: 100vh;
    background-color: #ffffffcc;
    display: flex;
    align-items: center;
    justify-content: center;
    --border-radius: 10px;
    --border-radius-btn: 5px;
    --button-fsz: 18px;
}

.loginWrapper {
    width: 800px;
    height: 500px;
    display: flex;
    background-color: white;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow:  0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    position: relative;
}

.loginWrapper::before {
    content: "";
    position: absolute;
    top: -75px;
    left: -75px;
    width: 150px;
    height: 150px;
    background-color: #1775ee;
    box-shadow:  0px 0px 5px 3px #1775ee;
    z-index: -1;
}

.loginWrapper::after {
    content: "";
    position: absolute;
    bottom: -75px;
    right: -75px;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.loginLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.loginRight {
    flex: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.loginDesc {
    font-size: 17px;
    color: gray;
    text-align: center;
}

.loginError {
    /* margin-left: 20px !important;
    margin-bottom: 20px !important; */
    position: absolute !important;
    top: 80%;
    right: 72%;
    border-radius: 10px !important;
    z-index: 888;
}

.loginBox {
    /* height: 300px; */ 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* .loginForm {
    display: flex;
    flex-direction: column;
}

.loginFormControl {
    margin-bottom: 10px !important;
} */

.loginInput {
    height: 50px;
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:hover {
    border-color: #1775ee;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: var(--border-radius-btn);
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: var(--button-fsz);
    font-weight: 500;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #155ebf;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
    border: none;
    font-weight: 400;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}

.loginRegisterButton {
    /* width: 60%; */
    align-self: center;
    height: 45px;
    border-radius: var(--border-radius-btn);
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: var(--button-fsz);
    font-weight: 500;
    cursor: pointer;
}

.loginRegisterButton:hover {
    background-color: #1da701;
}

.googleButton {
    /* width: 65%; */
    border-radius: var(--border-radius-btn);
    border: none;
    padding: 7px;
    align-self: center;
    background-color: #1775ee;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.googleButton:hover {
    background-color: #155ebf;
}

.googleImg {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.googleText {
    font-weight: 500;
    color: white;
    margin: 0 auto;
    font-size: var(--button-fsz);
    text-indent: 5px;
}